/* style.css
	Defines the style of index.js
// =============================================================================
//                    YOU DO NOT NEED TO EDIT THIS FILE
// =============================================================================
// if you want to have cooler battleship pictures, change boat.png in media/
*/

body {
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

.main {
	width: 50%;
}

.panel {
	width: 300px;
	background-color: #CCC;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 20px;
}

.panel_right {
	float: right;
}

#all_users {
	color: #666;
}

.wallet_addresses_panel {
	position: absolute;
	width: 300px;
	height: 160px;
	background-color: #CCC;
	padding: 20px;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	opacity: 0.5;
}

#amount {
	width: 140px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #666;
	border-radius: 4px;
	background-color: #EEE;
	font-size: 14px;
}

button {
	background-color: #666;
	color: #FFF;
	cursor: pointer;
}

button:hover {
	background-color: #444;
}

#header {
	margin-bottom: 20px;
}

#sub-title-container {
	margin-bottom: 20px;
}

#main-display {
	margin-bottom: 20px;
}

.swap-control-title,
.liquidity-control-title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.swap-control-buttons,
.liquidity-control-buttons {
	margin-top: 20px;
}